#product-images {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px;
}

img {
    height: 300px;
    text-align: center;
    border: thin solid black;
}

#instructions {
    text-align: center;
}